<idea-plugin version="2" xmlns:xi="http://www.w3.org/2001/XInclude">
  <id>StubsGenerator</id>
  <name>StubsGenerator</name>
  <category>Custom Languages</category>
  <description>Generator of stub models from a stubs specification file using a defined stub-to-concept transformation</description>
  <version>1.8</version>
  <vendor>Martin Wirth (wirthma@gmail.com)</vendor>
  <idea-version since-build="203.1" until-build="211.1"/>

  <depends>jetbrains.mps.core</depends>
  <depends>jetbrains.mps.build</depends>

  <extensions defaultExtensionNs="com.intellij">
    <mps.LanguageLibrary dir="/"/>
    <errorHandler implementation="jetbrains.mps.ide.blame.CharismaReporter"/>
  </extensions>
</idea-plugin>
